<html>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/layout.css') }}">

  <head>
    <title>Coding Challeng Portal MVP</title>
    <meta http-equiv="refresh" content="3">
  </head>
  <body>
    <div class="wrapper">
      <div class="box header">Header</div>
      <div class="box sidebar">Sidebar</div>
      <div class="box content">
        <canvas class="canvas" id="myCanvas"></canvas>
        <script>
          var canvas = document.getElementById('myCanvas');
          var context = canvas.getContext('2d');

          context.beginPath();
          context.moveTo(0, 0);
          context.lineTo(0, 150);
          context.lineTo(300, 150);
          context.lineTo(300, 0);
          context.lineTo(0, 0);
          context.stroke();

          {% for sq in squares %}
            context.fillStyle="{{ sq.fillStyle }}";
            context.fillRect({{ sq.x }},{{ sq.y }},{{ sq.len }},{{ sq.len }});
          {% endfor %}

        </script>
      </div>
      <div class="box footer">Footer</div>
    </div>
  </body>
</html>
